{
  "env": {
    "es6": true
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "no-multiple-empty-lines": 0,
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ]
  },
  "globals": {
    "describe": true,
    "it": true
  }
}
